{% extends "website/main.html" %}
{% block title %}
    قائمة المنتجات
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">قائمة المنتجات</h1>
    <div class="row g-3">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card shadow-sm m-auto text-center" style="height:20rem">
                <div class="pt-2" style="height:50%">
                    {% for record in product.prices.all %}
                    <img src="{{record.img}}" class="w-50 m-auto" style="height:100%; width:100%">
                    {% endfor %}
                </div>
                <hr>
                <div class="card-body">
                    <h6 class="h6" style="text-wrap:nowrap">{{product.nameAr}} <br> {{product.nameEn}}</h6>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-danger me-2">شراء المنتج</button>
                            <button type="button" class="btn btn-sm btn-outline-primary me-2">إضافة لعربة التسوق</button>
                            <a href="{% url 'website:detail' product.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">عرض التفاصيل</button></a>
                        </div>
                        <small class="text-body-secondary">--</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}