{% extends "website/main.html" %}
{% block title %}
    تفاصيل المنتج
{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-10 m-auto">
                <h2>{{product.nameAr}}</h2>
                <h3>{{product.nameEn}}</h3>
            </div>
        </div>
        <div class="row pt-md-5">
            <div class="col-12 col-md-6">
                <p class="lead border p-4">وصف مختصر للمنتج <br> {{ product.smallDescription }}</p>
                <p>التصنيف: {{ product.category }}</p>
                <p>ميزات: {{ product.featured }}</p>
                <p>الوسوم:
                    {% for tag in product.tags.all %}
                    {{ tag.name }},
                    {% endfor %}
                </p>

                
            </div>
            <div class="col-12 col-md-6 border">
                <div class="pt-2" style="">
                    {% for record in product.prices.all %}
                    <img src="{{record.img}}" class="m-auto" style="width:50%">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m-auto">
                <!-- Loop through Prices4sizes for this product -->
                <ul class="pt-3">
                    {% for price in product.prices.all %}
                    <li class="d-inline-block">
                        <p class="d-inline-block border p-2">المقاس: {{ price.size }}</p>
                        <p class="d-inline-block border p-2">اللون: {{ price.color }}</p>
                        <p class="d-inline-block border p-2">الوزن / الحجم: {{ price.weight }}</p>
                        <p class="d-inline-block border p-2">السعر: {{ price.price }}</p>
                        <p class="d-inline-block border p-2">التوافر: {{ price.stock }} قطعة</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger w-100">شراء</button>
            </div>
            <div class="col">
                <button class="btn btn-primary w-100">إضافة إلى العربة</button>
            </div>
            <div class="col">
                <button class="btn btn-info w-100 text-white">طلب / اقتراح</button>
            </div>
        </div>
    </div>
{% endblock %}